@model IEnumerable<Outlook_Signatures_Management.Models.Signature>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-xs-11"></div>
        <div class="col-xs-1">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-top:20px" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i></button>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" data-target="#DesignSignatureModal" href="#">Design a new signature</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table id="SignaturesTable">


        @foreach (var item in Model)
        {
            <tr id="row_@item.SignatureId">

                <td>
                    @Html.DisplayFor(modelItem => item.SignatureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDefault)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsForwardReply)
                </td>

                <td>
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></button>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="modal" onclick="OpenEmployeeDetails(@item.SignatureId)" href="#">Open</a></li>
                            <li><a href="#">Copy</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#confirmModal" id="showConfirmDeleteBtn" onclick="showConfirmDeleteModal(@item.SignatureId)">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


<div class="modal fade" id="DesignSignatureModal" role="dialog">
    <div class="modal-dialog modal-ku" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Create new signature</h3>
            </div>

            @Html.Action("Create")



        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script>
        let editor = CKEDITOR.replace('Body');
        
        
        $('#submitbtn').on('click', function () {

            var body = editor.getData();
            var formData = $('#SignatureCreateForm').serializeArray();
            formData[4].value = body;
            $.ajax(
                {
                    type: "POST",
                    data: formData,
                    url: "/Signature/Create",
                    success: function (response) {
                        alert(response.Body);
                        $("#DesignSignatureModal").modal("hide");
                    }
                }
            )
        })
    </script>


}

